html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.gradient {
    background: linear-gradient(to top, #eef, #fff) !important;
}

table {
    background-color: white;
}

table th:hover {
    cursor: pointer;
}
