<div class="col-xs-12">
    <h1>
        <p class="text-center">
            My Music
        </p>
    </h1>
    <p class="text-center">
        <a ui-sref="stats">Check my statistics</a>
    </p>
</div>

<div class="col-md-offset-2 col-xs-12 col-md-8">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th ng-click="changePlaylistOrder('Lastplayed')">Last Played</th>
                <th ng-click="changePlaylistOrder('Artist')">Artist</th>
                <th ng-click="changePlaylistOrder('Name')">Name</th>
                <th ng-click="changePlaylistOrder('Genre')">Genre</th>
                <th ng-click="changePlaylistOrder('Stars')">Stars</th>
                <th>Play</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="song in playlist|orderBy:playlistOrder">
                <td>{[{ song.Lastplayed | date : 'HH:mm' }]}</td>
                <td>{[{ song.Artist }]}</td>
                <td>{[{ song.Name }]}</td>
                <td>{[{ song.Genre }]}</td>
                <td>{[{ song.Stars }]}</td>
                <td>
                    <div class="btn btn-default" ng-click="playSong(song)">
                        <span class="glyphicon glyphicon-play"></span>
                        Play
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="col-md-offset-2 col-xs-12 col-md-8" ng-show="nowPlaying">
    <h1>Now playing</h1>
    <div class="col-md-offset-2 col-xs-12 col-md-8">
        <div class="col-xs-4">
            <h2><b>{[{ nowPlaying.Artist }]}</b></h2>
        </div>
        <div class="col-xs-8">
            <h2>{[{ nowPlaying.Name }]}</h2>
        </div>
        <div class="col-xs-12">
            <img class="img-circle" src="/static/img/{[{ nowPlaying.art }]}" height="150">
        </div>
    </div>
</div>