<div class="col-xs-12">
    <h1>
        <p class="text-center">
            My Music Statistics
        </p>
    </h1>
    <p class="text-center">
        <a ui-sref="music">My Playlist</a>
    </p>
</div>

<div class="col-xs-12">
    <div class="col-xs-12 col-md-6">
        <h3>
            <p class="text-center">Genre</p>
        </h3>
        <c3chart bindto-id="pie-chart-genre" chart-data="genrePiePoints"
                 chart-columns="genrePieColumns"/>
    </div>
    <div class="col-xs-12 col-md-6">
        <h3>
            <p class="text-center">Rating</p>
        </h3>
        <c3chart bindto-id="pie-chart-stars" chart-data="starsPiePoints"
                 chart-columns="starsPieColumns"/>
    </div>

    <div class="col-xs-12 col-md-offset-2 col-md-8">
        <h3>
            <p class="text-center">Top Songs</p>
        </h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Playback Count</th><th>Song</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="song in playbacks|orderBy:'-playbacks_count'">
                    <td>{[{ song.playbacks_count }]}</td>
                    <td>{[{ song.song.Artist }]} - {[{ song.song.Name }]}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>