{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="Playlist">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            Simple Playlist App
        {% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/c3.min.css' %}" />

    <script type="text/javascript" src="{% static 'js/lib/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/d3.min.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/lib/c3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/angular-ui-router.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/c3-angular.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/app/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app/playlist.js' %}"></script>

</head>
<body role="document" class="gradient">

<div id="content" class="container-fluid" role="main">
    {% block content %}{% endblock %}
</div>

</body>
</html>
